
 h1{
    font-size: 40px;
    color:darkslategrey;
    }
li p{
    color: dimgrey;
    }
    
.main-header{
    height: 400px;
}

main{
    width:1000px;
}

.h-style{
    color: darkslategrey;
}
h1.h-style{
    font-family: sans-serif;
}

h4.h-style{
    font-family: monospace;
    font-size: 1.3rem;
}
#about-site{
    color: grey;
}

#handle{
    font-size: 28px;
    color: black;
}

#handle:hover{
    color: orange;
}