
 h1{
    font-size: 40px;
    color:darkslategrey;
    }
li p{
    color: dimgrey;
    }
    
.main-header{
    height: 400px;
}

main{
    width:90vw;
    border: dashed 5px  #ff6060;
    border-left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.h-style{
    color: darkslategrey;
    font-size: 3.2rem;
}
h1.h-style{
    font-family: sans-serif;
}

h4.h-style{
    font-family: monospace;
    font-size: 1.3rem;
}
#about-site{
    color: grey;
}

#handle{
    font-size: 28px;
    color: black;
}

#handle:hover{
    color: orange;
}
img{
    width:100%
}

#logo{
    width:210px;
}

#site-title a{
    font-size: 1.8rem;
    text-decoration: none;
    line-height: 1.25rem;
}

article{
    font-size: 1.1rem;
    word-spacing: 1px;
    line-height: 1.4rem;
}

.sources a{
    text-decoration: none;
}

.sources a:hover{
    color: #000;
}