
 h1{
    font-size: 40px;
    color:darkslategrey;
    }
li p{
    color: dimgrey;
    }
    
.main-header{
    height: 400px;
}

main{
    width:1000px;
}

.h-style{
    color: darkslategrey;
}
h1.h-style{
    font-family: sans-serif;
    font-size: 1.33rem;
}

h4.h-style{
    font-family: monospace;
    font-size: 18px;
}
#about-site{
    color: grey;
}